body {
  padding: 50px;
}

h1 {font-family: century gothic, helvetica, sans-serif;
				font-size:35pt;
				text-align:center;
				color:#8A0808}

p  {font-size:15pt;
				font-family: arial, sans-serif;
				}

input {font-family: arial, sans-serif;
					font-size:15pt;
					color: #08298A;
					border-color: black;}

a {
  color: #00B7FF;
}
